.nav-container {
  max-width: 1200px;
  margin: 1.5rem auto;
  display: flex;
  align-items: center;
}
.nav-header {
  padding-left: 2rem;
}
.nav-header h2 {
  text-transform: capitalize;
  font-size: 1.75rem;
  font-weight: bold;
}
.navlink-container {
  display: flex;
  align-items: center;
}
.nav-links ul {
  display: flex;
  justify-content: center;
}
.nav-links li {
  margin: auto 0.75rem;
  font-size: 1.25rem;
}
.nav-links a {
  font-weight: 500;
}

.nav-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 2rem;
}
.nav-user h2 {
  font-size: 1.25rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto 2rem;
}
